<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Authentication</filter-name>
        <filter-class>Filter.Authentication</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/index.jsp</url-pattern>
        <url-pattern>/manage_user.jsp</url-pattern>
        <url-pattern>/menu.jsp</url-pattern>
        <url-pattern>/profile.jsp</url-pattern>
        <url-pattern>/result.jsp</url-pattern>
        <url-pattern>/update.jsp</url-pattern>
        <url-pattern>/Calculate</url-pattern>
        <url-pattern>/InputData</url-pattern>
        <url-pattern>/CalCustomLoan</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>controller.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputData</servlet-name>
        <servlet-class>controller.InputData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calculate</servlet-name>
        <servlet-class>controller.Calculate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalCustomLoan</servlet-name>
        <servlet-class>controller.CalCustomLoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>controller.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KKPUsedControl</servlet-name>
        <servlet-class>controller.KKPUsedControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manage_user</servlet-name>
        <servlet-class>controller.Manage_user</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputData</servlet-name>
        <url-pattern>/InputData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calculate</servlet-name>
        <url-pattern>/Calculate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalCustomLoan</servlet-name>
        <url-pattern>/CalCustomLoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KKPUsedControl</servlet-name>
        <url-pattern>/KKPUsedControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manage_user</servlet-name>
        <url-pattern>/Manage_user</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/errorNotFound.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500error.jsp</location>
    </error-page>
</web-app>
